<!DOCTYPE html>
<html lang="en" ><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script>
        window.console = window.console || function(t) {};
    </script>
  </head>
  <body translate="no">
    <div class="container">
        <form action="" method="post" class="well form-horizontal bv-form" novalidate="novalidate" id="login_form">
            <legend><center><h2>Registration</b> </h2></center></legend><br>
            <br>
            <a href="{% url 'Accounts:UserSignup' %}" style="text-decoration: underline;">User Registration</a>
            <a href="{% url 'Accounts:HospitalSignup' %}" style="text-decoration: underline;" >Hospital Registration</a>
        </form>
    </div>
  </body>
  </html>