<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'AdminiStrator:admin-homepage' %}">Homepage</a>
    <a href="{% url 'AdminiStrator:pending-hospital-verification' %}">Verify Hospitals</a>
    <a href="{% url 'AdminiStrator:accepted-hospital-list' %}">Accepted Hospitals</a>
    <a href="{% url 'AdminiStrator:rejected-hopital-list' %}">Rejected Hospitals</a>
</body>
</html>