<!DOCTYPE html>
<html lang="en" ><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body translate="no">
    <div class="container">
        <form action="" method="post" class="well form-horizontal bv-form" novalidate="novalidate" id="login_form">
            <legend><center><h2>Welcome <b>{{ request.session.sessionUsername }}</b> </h2></center></legend><br>
            <br>
            <b>User Portal</b>
            <a href="{% url 'user:user-homepage'%}">Homepage</a>&nbsp; |
            <a href="{% url 'user:user-profile'%}">View Profile</a>&nbsp; |
            <a href="{% url 'user:user-complaints'%}">Add Complaints</a>
        </form>
    </div>
  </body>
  </html>