<!DOCTYPE html>
<html lang="en" ><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script>
        window.console = window.console || function(t) {};
    </script>
  </head>
  <body translate="no">
    <div class="container">
        <form action="" method="post" class="well form-horizontal bv-form" novalidate="novalidate" id="login_form">
            <legend><center><h2>Welcome <b>{{ request.session.sessionHospitalname }}</b> </h2></center></legend><br>
            <br>
            <b>Hospital Portal</b>
            <a href="{% url 'Hospital:hospital-homepage'%}">Homepage</a>&nbsp; |
            <a href="{% url 'Hospital:hospital-profile'%}">View Profile</a>&nbsp; |
            <a href="{% url 'Hospital:daily-services'%}">Manage Daily Services</a>&nbsp; |
            <a href="{% url 'Hospital:services-packages'%}">Service Packages</a>&nbsp; |
            <a href="{% url 'Hospital:services-staffs'%}">Service Staffs</a>&nbsp; |
            <a href="{% url 'Hospital:view-daily-services'%}">View Daily Services</a>&nbsp; |
            <a href="{% url 'Hospital:view-packages'%}">View Packages</a>&nbsp; |
            <a href="{% url 'Hospital:view-staffs'%}">View Staffs</a>&nbsp; |
            <a href="{% url 'Hospital:user-add-complaint'%}">Add Complaint</a>&nbsp; |
            <a href="{% url 'Hospital:user-complaints'%}">View User Complaints</a>
        </form>
    </div>
  </body>
  </html>