<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" align="center" cellpadding="10" style="border-collapse:collapse;">
        <tr>
            <td colspan="2">
                <img src="{{HopitalImage.url}}" width="120" height="120">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ HospitalName  }}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{ HospitalContact }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ HospitalEmail }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ HospitalAddress }}</td>
        </tr>
        <tr>
            <td>District</td>
            <td>{{HospitalDistrict}}</td>
        </tr>
        <tr>
            <td>Place</td>
            <td>{{ HospitalPlace }}</td>
        </tr>
    </table>
</body>
</html>