<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" align="center" cellpadding="10" style="border-collapse:collapse;">
        {% csrf_token %}
        <tr>
            <td>Service Code</td>
            <td>{{ ServiceCode  }}</td>
        </tr>
        <tr>
            <td>Service Type</td>
            <td>{{ ServiceType }}</td>
        </tr>
        <tr>
            <td>Service Rate</td>
            <td>{{ ServiceRate }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ Description }}</td>
        </tr>
        <tr>
            <td>Facilities</td>
            <td>{{Facilities}}</td>
        </tr>
        <tr>
            <td>KM Rate</td>
            <td>{{ KMRate }}</td>
        </tr>
    </table>
</body>
</html>