<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" align="center" cellpadding="10" style="border-collapse:collapse;">
     
        <tr>
            <td>Package Code</td>
            <td>{{ PackageCode  }}</td>
        </tr>
        <tr>
            <td>Package Type</td>
            <td>{{ PackageType }}</td>
        </tr>
        <tr>
            <td>Package Rate</td>
            <td>{{ PackageRate }}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{ Duration }}</td>
        </tr>
        <tr>
            <td>Facilities</td>
            <td>{{Facilities}}</td>
        </tr>
        <tr>
            <td>KM Rate</td>
            <td>{{ KMRate }}</td>
        </tr>
    </table>
</body>
</html>