<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="center" border="1" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <th>User Name</th>
            <th>Complaint Type</th>
            <th>Content</th>
            <th>Date</th>
            <th>Reply</th>
        </tr>
        {% for Data in usersComplaints %}
        <tr>
            <td>{{ Data.ucomplaint_user }}</td>
            <td>{{ Data.ucomplaint_type }}</td>
            <td>{{ Data.ucomplaint_content }}</td>
            <td>{{ Data.ucomplaint_date }}</td>
            <td colspan="2">
                <input type="text" name="uReply" />
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div style="text-align: center;">
        <button>Submit</button>
    </div>
</body>
</html>